{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1>Show</h1>

    {# Форма для турнира #}
    <p data-tournament="{{ tournament.id }}">{{ tournament.name }}</p>

    <p>{{ tour.num }}</p>
    {# Кнопка удалить форму #}
    {{ include('tournament/delete_form.html.twig',{'tournament': tournament }) }}

    <button onclick="window.location='{{ path('app_addTour', {'id': tour.id }) }}'">Добавить тур</button>

    {# Отоброжение игр #}
    {% if listGame is empty %}
        <p>Игр пока нет</p>
    {% else %}
        <table>
            <thead>
            <tr>
                <th>Игра № </th>
                <th>Команда 1</th>
                <th>Голы Команды 1</th>
                <th>Команда 2</th>
                <th>Голы Команды 2</th>
                <th>Изменить значение голов</th>
                <th>Удаление игры</th>
            </tr>
            </thead>
            <tbody>
            {% for game in listGame %}
                <tr data-game="{{ game.id }}" >
                    <th>{{ game.id }}</th>

                        {% if game.TeamLeft != null %}
                            <td>{{ game.TeamLeft.name }}</td> <td>{{ game.goalsScoredLeft }}</td>
                        {% endif %}
                        {% if game.TeamRight != null %}
                            <td>{{ game.TeamRight.name }}</td> <td>{{ game.goalsScoredRight }}</td>
                        {% endif %}

                    <td>
                        <button onclick="window.location='{{ path('app_game_edit', {'id': game.id}) }}'">Записать голы для игры</button>
                    </td>
                    <td>
                        <button class="deleteGame" data-tore="{{ game.tour.id }}" data-game="{{ game.id }}">Удалить игру</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="{{ path('app_tournament') }}">back to list</a>
    <script>
        {# Отправка POST запроса для удалении комментария #}
        $( ".recordingTeam" ).click(function() {
            let nameTeam = $(".nameTeam").val();
            let tournamentID = $('p').data( "tournament");
            $.ajax({
                url: '/tournament/addTeamTournament/', // не менял
                method: 'POST',
                dataType: 'html',
                data: {nameTeam: nameTeam, tournamentID: tournamentID}, // Отправляю через data
                success: function (data) {
                    if ($('p:last').html() == 'Нету такой команды'){
                        $('li:last').remove();
                    }
                    if ($('p:last').html() !== data){
                        $('p:last').append( "<li><p>" + data + "</p></li>" );
                    }
                    console.log($('p:last').html());
                }
            });
        });

        {# Удаление игры #}
        $( '.deleteGame' ).click(function() {
            let gemeID = $(this).data('game');
            let tourID = $(this).data('tour')
            $.ajax({
                url: '/game/delete/', // не менял
                method: 'POST',
                dataType: 'html',
                data: {gemeID: gemeID, tourID: tourID}, // Отправляю через data
                success: function (data) {
                    // Стираем из формы
                    $('tr')
                        .filter(function (){
                            return $(this).data('game') == data;
                        })
                        .remove()
                    console.log(data);

                }
            });
        });

        {# Отсеживание ошибок ajax #}
        $(document).ajaxError(function(event, xhr, options) {

            switch (xhr.status){

                case 403:

                    alert('Requested page forbidden (404).');

                    break;

                case 404:

                    alert('Requested page not found (404).');

                    break;

                case 500:

                    alert('Internal Server Error (500).');

                    break;

            }

        });
    </script>
{% endblock %}
